<aside class="footer-outer">
	<div class="footer-inner sidebar">
		{{#if @labs.subscribers}}
		<section class="section gh-subscribe">
		</section>
		{{/if}}

		{{! Colophon}}

		{{! Colophon}}
		<footer class="section colophon" itemscope itemtype="http://schema.org/WPFooter">&copy; 页面主题由 <a href="http://heybi.com" itemprop="creator">Heybi</a> 提供, 此页面使用 <a href="http://ghost.org" itemprop="provider">Ghost</a> 框架.</footer>
	</div>
</aside>