<aside class="overlay menu-overlay">
	<div class="outer-close toggle-menu">
		<a class="close">Close</a>
	</div>

	<nav class="browse-menu">
		<div class="sidebar grid grid-onethird">
			{{! Menu }}
			<div class="grid-item widget widget-navigation">
				<div class="widget-content">{{navigation}}</div>
			</div>

			{{! Mini Bio }}
			<div class="grid-item widget widget-about">
				<div class="widget-content">
					<div class="user-profile">
						<figure class="user-avatar" style="background-image: url({{asset "images/avatar.jpg"}}">&nbsp;</figure>
					</div>
				</div>
			</div>

			{{! Contact Form }}
			<div class="grid-item widget widget-navigation">
				<div class="widget-content">{{navigation}}</div>
			</div>
		</div>
	</nav>
</aside>